<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<nav
  aria-label="navigation menu"
  class="fixed lg:relative flex grid grid-cols-3 lg:grid-cols-5 items-center bg-gray-200 inset-x-0 bottom-0 lg:top-0"
>
  <div class="hidden lg:inline-block">test</div>
  <div class="group p-5 text-gray-500 text-center bg-white">
    <span class="material-icons block lg:inline-block group-hover:text-red-600 lg:align-middle lg:mr-2">
      home
    </span>
    <span class="block lg:inline-block group-hover:font-bold group-hover:text-indigo-900 lg:align-middle">Home</span>
  </div>
  <div class="group p-5 text-gray-500 text-center bg-white">
    <span class="material-icons block lg:inline-block group-hover:text-red-600 lg:align-middle lg:mr-2">
      menu
    </span>
    <span class="block lg:inline-block group-hover:font-bold group-hover:text-indigo-900 lg:align-middle">Menu</span>
  </div>
  <div class="group p-5 text-gray-500 text-center bg-white">
    <span class="material-icons block lg:inline-block group-hover:text-red-600 lg:align-middle lg:mr-2">
      search
    </span>
    <span
      class="block lg:inline-block lg:inline-block group-hover:font-bold group-hover:text-indigo-900 lg:align-middle lg:align-middle"
      >Search</span
    >
  </div>
  <div class="hidden lg:inline-block">test</div>
</nav>
